<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <header>
        <h1>GameGo Home</h1>
        <h2>Welcome, <%= username %>!</h2>
    </header>

    <nav>
        <%- include("partials/nav.ejs") %>
    </nav>

    <main class="container my-page">
        <section class="card page-card">
            <h3>Message of the Day: Sup Gamers! Keep on Gaming 🙏💯❤️</h3>
            <img 
                src="https://dukeofdefensegame.com/wp-content/uploads/2021/10/portrait-ecstatic-gamer-guy-headphones-screaming-pc-games-ss-FEATURE.jpg" 
                alt="Cool Gamer Bro"
                class="img-fluid"
            >
        </section>
    </main>

    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>
</body>
</html>