<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>
</head>

<body>
    <h1 class="bg-info text-white p-3 m-0"> The Solar System </h1>
    <%- include("partials/nav.ejs") %>

    <div class="container my-page">
        <div class="card page-card">
            <h2>Message of the Day: Sup Gamers! Keep on Gaming 🙏💯❤️</h2>
            <img src="<%= 'https://dukeofdefensegame.com/wp-content/uploads/2021/10/portrait-ecstatic-gamer-guy-headphones-screaming-pc-games-ss-FEATURE.jpg' %>" alt="Cool Gamer Bro" class="img-fluid">
        </div>
    </div>

    <%- include("partials/footer.ejs") %>
</body>

</html>